@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mainBody{
    width: 100%;
    min-height: 100vh;
    max-width: 1366px;
    background: #fff;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.151);
    animation-name: mainfade;
    animation-duration: 2s;
}
.text_fl p{
    text-align: justify;
    text-justify: inter-word;
}
.text_fl{
    margin: auto;
}
.f_card01{
    margin: 2%;
    margin-top: 80px;
}
.img_fl{
    position: relative;
    display: inline;
    padding: 5%;
    max-width: 450px;
    float: right;
    margin: auto;
    align-items: center;
}
.img_fl .imgMang{
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px 2px 3px rgb(0, 0, 0));
}

.imgCompo .imgC001{
    position:absolute;
    left: 5%;
    bottom: 20%;
    width: 20%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-2px 2px 1px #2223);
    animation-name: imgAnimate;
    animation-duration: 3s;
}
.imgCompo .imgC002{
    position:absolute;
    left: 5%;
    top: 20%;
    width: 30%;
    animation-name: imgAnimate2;
    animation-duration: 3s;
}
.imgCompo .imgC003{
    position:absolute;
    right: 5%;
    top: 40%;
    width: 20%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(2px -2px 1px #2223);
    animation-name: imgAnimate;
    animation-duration: 3s;
}
.card1sto{
    border: none;
    margin-top: 10px;
}
.gradiant_btn{
    background-image: linear-gradient(#f94d1c, #fd7526);
    border: none;
}
.gradiant_btn:hover{
    background-image: linear-gradient(#e03202, #eb5a06);
    box-shadow: 2px 2px 3px #0005;
    transform: scale(1.05);
}

.gradiant_btn_outline{
    border: 2px solid #f94d1c !important;
    background: #0000;
    color: #f94d1c;
    font-weight: 450;
    border: none;
}
.gradiant_btn_outline:hover{
    background: #0001;
    color: #f94d1c;
    font-weight: 500;
    box-shadow: 2px 2px 3px #0005;
    transform: scale(1.05);
}


@keyframes imgAnimate {
    from {
        width: 0;
    }

    to {
        width: 20%;
    }
}
@keyframes imgAnimate2 {
    from {
        width: 0;
    }

    to {
        width: 30%;
    }
}
@keyframes mainfade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .flexcard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22%;
    align-items: baseline;
    height: 250px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    box-shadow: 2px 2px 5px #0003;
    padding: 30px 30px;
    text-align: center;
    transition: 0.6 !important;
    background: rgba(34, 34, 34, 0.03);
  }
  .flexcard:hover {
    box-shadow: 1px 1px 10px #0006;
    transform: scale(1.02) !important;
  }
  .flexcard:hover img{
    transition: 1s;
    border-radius: 50px;
  }
  
  .flexcardTitle {
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  
  .flexcardText {
    font-family: "Jost", sans-serif;
    text-align: center;
    font-weight: 300;
  }
  .flex {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
  }
  .flexcard img{
    transition: 1s;
    width: 100%;
    border-radius: 10px;
  }
  .whyWe{
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
    padding-top: 0;
  }
  /* RESPONSİVE */
  .secondCard{
    border: 0px;
    padding: 20px;
  }
  .txt_center_m{
    margin: auto;
  }
  .secondCard img{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(-2px 2px 5px #2225);
  }
  .freqAskBtn_1{
    width: 96%;
    padding: 5px;
    margin: 15px auto ;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.223);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.100);
  }
  .freqAskBtn_1 h2 button{
    font-size: 20px;
  }

  .freqAskBtn_1 h2 button:focus{
    box-shadow: none;
  }
  .Freq_title_txt{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding: 10px;
    margin: 20px;
  }

  .containerForPages{
    margin-bottom: 100px;
  }
  .position-relative{
    margin: auto;
  }
  .position-relative img{
    width: 100%;
  }
  .margin_autoP{
    margin: auto;
  }
  .cardZag_COntainer h5{
    font-size: 30px;
  }
  .cardZag_COntainer p{
    font-size: 20px;
  }
  .cardZag_COntainer hr{
    width: 100px;
  }
  .spaceToph{
    border: none;
      margin-top: 80px;
      border-radius: 0px;
      margin-bottom: 80px;

  }
  .spaceToph img{
    max-height: 300px;
    border: none;
    object-fit: cover;
    border-radius: 0px;
  }
  .spaceToph .pageContName{
    color: #fff;
    background: rgba(0, 0, 0, 0.432);
    padding: 20px 0;
    position: absolute;
    text-align: center;
    top: 45%;
    left: 0;
    margin: auto;
    width: 96%;
    margin: 2%;
  }
  .spaceToph h4{
    font-size: 30px;
    margin-bottom: 20px;
  }
  .backGcard{
    padding: 10px;
    border: none;
    margin: 30px 0;
  }
  .backGcard p{
    font-size: 18px;
    width: 100%;
  }
  .btn-sm{
    background: #f94d1c;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  .Centerdiv{
    margin: auto;
  }
  .borderbotm{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.171);
  }
  .light_dark{
    background-color: rgba(250, 250, 250);
    width: 100%;
    padding: 5%;
    margin-top: 10px;
  }

  .light_light{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5%;
    margin-top: 10px;
  }
  .Documentations{
    width: 96%;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
  }
  .Documentations h2{
    text-align: center;
  }
  .backPPPP{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.205);
  }
  .imgContainerPage{
    border: 1px solid rgba(0, 0, 0, 0.096);
    padding: 1px;
    border-radius: 9px;
  }
  .imgContainerPage img{
    width: 100%;
    border-radius: 10px;
  }
  .TextContainerForPages{
    margin-top: 20px;
  }
  .TextContainerForPages p{
    text-align: justify;
    text-justify: inter-word;
  }

  
  .rs-team .team-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .rs-team .team-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .rs-team .team-item .team-img {
    position: relative;
  }
  .rs-team .team-item .team-img .normal-text {
    position: absolute;
    text-align: center;
    height: 80px;
    bottom: -1px;
    padding: 17px 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: rgba(217, 8, 69, 0.7);
    transition: .3s ease all;
    z-index: 10;
  }
  .rs-team .team-item .team-img .normal-text .team-name {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    display: block;
    text-transform: uppercase;
    padding: 0 0 3px;
  }
  .rs-team .team-item .team-img .normal-text .subtitle {
    color: #fff;
    margin: 0;
    display: block;
  }
  .rs-team .team-item .team-img img {
    width: 100%;
  }
  .rs-team .team-item .team-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    text-align: center;
    z-index: 1;
    padding: 30px;
    opacity: 0;
    -webkit-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    visibility: hidden;
  }
  .rs-team .team-item .team-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(217, 8, 69, 0.8);
    z-index: -1;
  }
  .rs-team .team-item .team-name {
    margin-bottom: 2px;
  }
  .rs-team .team-item .team-name a {
    margin-bottom: 6px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }
  .rs-team .team-item .team-name a:hover {
    color: #fff;
  }
  .rs-team .team-item .postion {
    position: relative;
    z-index: 1;
    color: #fff;
  }
  .rs-team .team-item .share-icons {
    position: relative;
    max-width: 255px;
    margin: 0 auto 15px;
    opacity: 0;
    visibility: hidden;
  }
  .rs-team .team-item .share-icons .border {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
  }
  .rs-team .team-item .share-icons .border {
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 100px;
    z-index: 11;
  }
  .rs-team .team-item .team-social {
    position: relative;
  }
  .rs-team .team-item .team-social.icons-1:after,
  .rs-team .team-item .team-social.icons-1:before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
  }
  .rs-team .team-item .team-social.icons-1:after {
    top: 0%;
    left: 50%;
    height: 95px;
    width: 1px;
  }
  .rs-team .team-item .team-social.icons-1:before {
    bottom: 0;
    left: 10px;
    height: 1px;
    width: 100px;
  }
  .rs-team .team-item .team-social.icons-2:after,
  .rs-team .team-item .team-social.icons-2:before {
    content: '';
    position: absolute;
    background: #fff;
    z-index: 1;
    opacity: 1;
  }
  .rs-team .team-item .team-social.icons-2:after {
    bottom: 0;
    left: 50%;
    height: 95px;
    width: 1px;
  }
  .rs-team .team-item .team-social.icons-2:before {
    top: 0;
    right: 10px;
    height: 1px;
    width: 100px;
  }
  .rs-team .team-item .team-social li {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    padding: 34px;
  }
  .rs-team .team-item .team-social li a {
    display: block;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100px;
    font-size: 20px;
  }
  .rs-team .team-item .team-social li a:hover {
    background: #fff;
    border-color: #fff;
    color: #d90845;
  }
  .rs-team .team-item:hover .team-content {
    top: 0;
  }
  .rs-team .team-item:hover .share-icons,
  .rs-team .team-item:hover .team-content,
  .rs-team .team-item:hover .team-social {
    opacity: 1;
    visibility: visible;
  }
  .rs-team .team-item:hover .normal-text {
    opacity: 0;
    visibility: hidden;
  }
  .rs-team.fullwidth-team .col-lg-3 {
    padding: 0;
  }
  .rs-team.fullwidth-team .col-lg-3 .team-item {
    margin-bottom: 0;
  }
  .rs-team.fullwidth-team .col-lg-3 .team-item .team-img .normal-text {
    text-align: left;
    background: transparent;
    padding-left: 15px;
  }
  .rs-team.rs-team2 .normal-text {
    clip-path: polygon(100% 100%, 0% 100%, 50% -95%);
  }
  .rs-team#rs-team3 .share-icons {
    max-width: 230px;
  }
  .rs-team#rs-team3.bg6,
  .rs-team#rs-team3.bg4 {
    position: relative;
  }
  .rs-team#rs-team3.bg6:after,
  .rs-team#rs-team3.bg4:after {
    content: "";
    background-position: top center;
    height: 460px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .rs-team#rs-team3 .container-fullwidth {
    position: relative;
    z-index: 1;
  }
  .rs-team#rs-team3 .team-item {
    margin-bottom: 30px;
  }
  .rs-team#rs-team3 .team-item .team-img .normal-text {
    height: 205px;
    bottom: -23%;
    padding: 30px 0;
    width: 86%;
    border-radius: 50%;
    clip-path: none;
  }
  .rs-team#rs-team3 .team-item .team-social li {
    padding: 20px;
  }
  .rs-team#rs-team3 .team-item .team-social.icons-1:before,
  .rs-team#rs-team3 .team-item .team-social.icons-2:before {
    width: 80px;
  }
  .rs-team#rs-team3 .team-item .team-social.icons-1:after,
  .rs-team#rs-team3 .team-item .team-social.icons-2:after {
    height: 70px;
  }
  .home5 .rs-team .team-item .team-img img {
    border-radius: 5px;
  }
  .pagination {
    margin-top: 25px;
  }
  .pagination .page-item {
    margin-right: 6px;
  }
  .pagination .page-item > * {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    color: #676767;
    border-radius: 3px;
    outline: none;
    border-color: #e8e8e8;
    background: #fff;
  }
  .pagination .page-item > *:hover,
  .pagination .page-item > *.active {
    color: #d90845;
    border-color: #d90845;
  }
  .pagination .page-item > *.dotted {
    line-height: 40px;
  }


  .contact-area {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.Shadow_c{
  box-shadow: -2px 2px 5px #0005;
  margin: 10px auto;
  border-radius: 10px;
}
.contact_rm{
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.103);
  box-shadow: -2px 2px 5px #0002;
  border-radius: 10px;
}
.contact_rm h1{
  margin: auto;
  text-align: center;
  color: rgba(0, 0, 0, 0.171);
}

@media only screen and (max-width:768px) {
    .contact {
        margin-bottom: 60px;
    }
}


.btn-contact-bg {
    border-radius: 30px;
    color: #fff;
    outline: medium none !important;
    padding: 15px 27px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #7564e5;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    width: 100%;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #232434;
    color: #fff;
}

/*START ADDRESS*/

.single_address {
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 40px;
}

@media only screen and (max-width:768px) {
    .single_address {
        padding-left: 0px;
    }
}

.single_address i {
    background: #f6f6f6;
    color: #7564e5;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    margin-right: 14px;
    font-size: 22px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.103);
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single_address:hover i {
    background: #7564e5;
    color: #fff;
}

.single_address h4 {
    font-size: 18px;
    margin-bottom: 0px;
    overflow: hidden;
    font-weight: 600;
}

.single_address p {
    overflow: hidden;
    margin-top: 5px;
}

.section-title h1 {
    font-size: 44px;
    font-weight: 500;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.section-title p {
    padding: 0 10px;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
}
.section-title {
    margin-bottom: 60px;
}
.text-center {
    text-align: center!important;
}
  

  

  @media only screen and (max-width: 991px) {
    .cardZag_COntainer h5{
      text-align: center;
    }
    .cardZag_COntainer p{
      text-align: center;
    }
    .cardZag_COntainer hr{
      margin: auto;
    }
    .cardZag_COntainer{
      padding: 80px 0;
    }

  }
  
@media only screen and (max-width: 830px) {
  .flexcard {
    width: 45%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .flexcard {
    width: 90%;
    height: 300px;
  }
  .whyWe{
      padding: 20px;
      font-size: 30px;
      font-weight: 500;
    }
    .spaceToph .pageContName{
      top: 30%;
      left: 0;
    }
    .spaceToph h4{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .spaceToph h5{
      font-size: 15px;
      margin-bottom: 10px;
    }
}  

@media screen and (max-width: 767px) {
    .imgCompo .imgC002{
        left: -5%;
    }
    .imgCompo .imgC001{
        left: 2%;
    }
    .imgCompo .imgC003{
        right: 2%;
    }
    .cardZag_COntainer{
      padding: 30px 0;
    }
}
